{% extends 'base.html.twig' %}

{% block title %}Sandrine COUPART - Politique de confidentialité{% endblock %}

{% block body %}

    <div class="position-relative">
            <img src='
        {% if app.user %}
            {{ asset('img/espace_connecter_header.jpg') }}
        {% else %}
            {{ asset('img/header.jpg') }}
        {% endif %}
        ' style="width:100%; height:350px; object-fit:cover; opacity:.6" alt="">
    <div class="position-absolute top-50 start-50 text-center fs-1 translate-middle fw-bold" style="color:#0C0920">
        <span class="display-2 fw-bold" style="font-family: 'Baloo Bhaina 2', cursive;">Politique de confidentialité</span>
    </div>
</div>

<div class="container mt-4">
    <h1>Politique de confidentialité de SANDRINE COUPART</h1>
    <br><br>
    <h3>Renseignements recueillis lors d’un paiement</h3> <br>
    Lorsque vous effectuez un paiement à l’aide d’un PDV Clover, nous recueillons des
    renseignements sur la transaction, lesquels peuvent comprendre des données
    personnelles. Les renseignements sur les transactions comprennent la carte de
    paiement utilisée, le nom associé à la carte de paiement, le commerce où a eu lieu
    l’achat et l’emplacement du commerce, la date et l’heure de la transaction, le montant
    de la transaction et les biens ou services achetés dans le cadre de la transaction.
    <br><br>
    • Votre adresse courriel ou numéro de téléphone, par exemple, lorsque vous
    choisissez de recevoir un reçu électronique
    <br>
    • Vos préférences marketing, par exemple, si vous souhaitez recevoir des
    communications marketing ou des bulletins d’information
    <br>
    • Des renseignements sur votre participation au programme de fidélité d’un
    commerçant, si vous choisissez d’y participer
    <br>
    • D’autres renseignements que vous fournissez, tels que votre date de naissance,
    vos intérêts ou vos préférences, vos évaluations et vos commentaires
    <br>
    Renseignements saisis dans le PDV Clover à propos de nos clients <br>
    Nous pouvons entrer dans le PDV Clover d’autres renseignements que nous avons
    recueillis à votre sujet. Ces renseignements peuvent comprendre l’adresse courriel, les
    numéros de téléphone et l’historique d’achats. Nous recueillons également :
    <br><br>
    <h3>Renseignements recueillis au sujet de nos employés</h3><br>
    Nous pouvons recueillir des renseignements sur nos employés et leurs interactions
    avec le PDV Clover, tels que le temps d’arrivée et de départ et les pourboires reçus.
    <br><br>
    <h3>Utilisation des renseignements recueillis</h3>
    Vos données personnelles sont utilisées aux fins décrites dans cette section.
    <br><br>
    <h3>Offrir nos produits et services</h3> <br>
    Les renseignements que nous recueillons nous servent à offrir nos produits et services,
    notamment :
    <br>
    • Exécuter une opération de paiement ou de retour que vous avez amorcée <br>
    • Envoyer un reçu électronique par courriel ou par message texte, si vous le
    demandez <br>
    • Gérer notre relation avec vous <br>
    • Personnaliser la prestation de nos produits et services <br>
    • Conserver une trace de l’historique et de l’activité d’achat des clients <br>
    • Administrer notre programme de fidélité ou de récompenses <br>
    • Prévenir la fraude ou gérer les risques <br>
    • Gérer et protéger notre entreprise <br>
    • Assurer un soutien et offrir l’entretien pour nos produits et services <br>
    <br><br>
    <h3>Marketing</h3><br>
    Nous pouvons vous proposer, lorsque vous utilisez Sandrine COUPART Nutritionniste, de fournir vos
    données personnelles pour nos propres besoins marketing. Nous vous enverrons ce
    type de communications marketing si vous y consentez
    <br><br>
    Nous pouvons vous envoyer des communications marketing en utilisant les données
    personnelles que vous nous avez fournies si vous avez effectué un achat auprès de
    nous ou si vous avez exprimé un intérêt réel d’effectuer un achat, et si vous n’avez pas
    refusé de recevoir ces communications marketing, dans la mesure permise par les lois
    applicables. Vous pouvez nous demander de cesser de vous envoyer des messages
    marketing en tout temps en cliquant sur le lien de désinscription qui se trouve dans
    chaque message marketing.
    <br><br>
    Si vous choisissez de ne plus recevoir nos messages marketing, nous continuerons
    d’effectuer nos autres activités pertinentes en utilisant vos renseignements personnels,
    y compris l’envoi de messages autres que ceux de marketing.
    <br><br>
    <h3>Respect de la loi</h3> <br>
    Nous utilisons vos renseignements personnels lorsque nous estimons que cela est
    nécessaire ou approprié pour respecter les lois applicables, les demandes légitimes et
    le processus judiciaire, notamment pour répondre aux citations à comparaître ou aux
    demandes des autorités gouvernementales.
    <br><br>
    <h3>Conformité, prévention de la fraude et sécurité</h3> <br>
    Nous utilisons vos renseignements personnels lorsque nous le croyons nécessaire ou
    approprié pour (a) appliquer les modalités qui régissent nos produits et services, (b)
    protéger nos droits, notre vie privée, notre sécurité ou nos biens et/ou les vôtres ou
    ceux des autres, et (c) protéger, enquêter et décourager les activités frauduleuses,
    nuisibles, non autorisées, contraires à l’éthique ou illégales.
    <br><br>
    <h3>Avec votre consentement</h3> <br>
    Dans certaines circonstances, par exemple, pour vous inscrire à nos communications
    marketing, il est possible que nous vous demandions votre consentement. Si nous
    demandons votre consentement pour utiliser vos renseignements personnels, vous
    avez le droit de retirer votre consentement en tout temps de la façon indiquée lorsque
    nous avons demandé le consentement ou en nous contactant. Si vous avez consenti à
    recevoir des communications marketing de la part de Clover ou d’autres tierces parties,
    vous pouvez retirer votre consentement en les contactant directement.
    <br><br>
    <h3>Communication de renseignements</h3> <br>
    Vos données personnelles peuvent être communiquées de la façon décrite dans cette
    section.
    <br><br>
    <h3>Fournisseurs de services</h3> <br>
    Nous pouvons avoir recours à des sociétés externes et à des tiers pour administrer et
    offrir des services en notre nom (p. ex., pour assurer un service à la clientèle ou un
    service de traitement et de livraison des commandes).
    <br><br>
    <h3>Applications tierces utilisées sur le PDV Clover</h3> <br>
    Le PDV Clover permet d’installer des applications tierces, un peu comme on installe
    des applications mobiles sur un téléphone intelligent. Les renseignements reçus par le
    développeur externe (le cas échéant) dépendent des caractéristiques et fonctions
    offertes par l’application. Dans certains cas, les développeurs d’applications ne
    reçoivent aucune donnée personnelle. Dans d’autres cas, le développeur reçoit les
    données personnelles uniquement pour offrir des services aux commerçants qui
    utilisent leurs applications. Le développeur d’applications peut également utiliser des
    données personnelles pour répondre à ses propres besoins.
    <br><br>
    <h3>Respect et application des lois; protection et sécurité</h3> <br>
    La Société peut divulguer des renseignements vous concernant au gouvernement, aux
    responsables de l’application de la loi ou aux parties privées conformément à la loi, et
    divulguer et utiliser ces renseignements lorsque nous le jugeons nécessaire et
    approprié pour (a) se conformer aux lois applicables, aux demandes légitimes et aux
    procédures judiciaires, notamment pour répondre aux citations à comparaître ou aux
    demandes des autorités gouvernementales, (b) appliquer les conditions générales qui
    régissent nos produits et services, (d) protéger nos droits, notre vie privée, notre
    sécurité, nos biens et/ou les vôtres ou ceux des autres, et (e) protéger contre les
    activités frauduleuses, nuisibles, non autorisées, contraires à l’éthique ou illégales, les
    enquêter et les décourager.
    <br><br>
    <h3>Transferts commerciaux</h3> <br>
    La Société peut vendre ou transférer une partie ou la totalité de son entreprise ou de
    ses éléments d’actif, y compris vos renseignements personnels, dans le cadre d’une
    transaction commerciale (ou d’une transaction commerciale potentielle) telle qu’une
    fusion, une consolidation, une acquisition, une réorganisation ou une vente d’actifs en
    cas de faillite, auquel cas nous ferons des efforts raisonnables pour obliger le
    destinataire à respecter la présente Politique de confidentialité.
    Aux autres parties avec votre autorisation ou pour exécuter un contrat conclu
    avec vous.
    <br><br>
    La Société peut transférer vos renseignements personnels à tout tiers qui n’est pas
    couvert par les autres catégories indiquées ci-dessous si vous nous en donnez la
    permission, ou avec lequel vous avez conclu un contrat dans le cadre duquel nous
    devons transférer vos renseignements personnels à cette partie pour exécuter ce
    contrat.
    <br><br>
    <h3>Conservation des données</h3> <br>
    La Société conserve les renseignements personnels aussi longtemps que nécessaire
    pour (a) offrir ses produits et services; (b) observer ses obligations juridiques; (c)
    résoudre des différends; et (d) appliquer les conditions d’ententes que nous pourrions
    avoir avec vous. Vous pouvez communiquer avec nous, aux coordonnées fournies ciaprès, pour obtenir des renseignements supplémentaires sur nos pratiques de
    conservation des données en lien avec le Service.
    <br><br>
    <h3>Vos droits et vos choix</h3> <br>
    Choisir de ne pas fournir vos renseignements personnels
    Vous pouvez choisir de ne pas nous fournir vos renseignements personnels. Si vous
    décidez de ne pas fournir les renseignements demandés, nous pourrions, dans certains
    cas, ne pas être en mesure de vous fournir des produits ou des services. Par exemple,
    nous pourrions ne pas être en mesure de traiter votre transaction.
    <br><br>
    <h3>Consulter, modifier ou supprimer vos renseignements</h3>
    Vous pouvez communiquer directement avec nous pour demander à consulter, modifier
    ou supprimer les renseignements que nous conservons sur vous en lien avec le PDV
    Clover. La consultation, la modification ou la suppression de vos renseignements peut
    être impossible dans certaines circonstances, et nous pouvons refuser votre demande
    si nous ne sommes pas légalement tenus d’y répondre.
    <br><br>
    <h3>Plaintes</h3> <br>
    Pour déposer une plainte concernant le traitement que nous faisons de vos
    renseignements personnels, vous pouvez communiquer avec nous aux coordonnées
    indiquées ci-après.
    <br><br>
    <h3>Mises à jour</h3> <br>
    Nous nous réservons le droit de modifier la présente Politique de confidentialité en tout
    temps. En cas de mise à jour à cette Politique de confidentialité, la date sera modifiée
    et la version à jour sera publiée sur notre site Web.
    <br><br>
    <h3>Contactez-nous</h3> <br>
    Si vous avez des questions, des commentaires ou des plaintes concernant la présente
    Politique de confidentialité ou nos pratiques de confidentialité.
</div>
{% endblock %}
